<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit Product</h1>

        <div class="msg">{{ msg }}</div>

        <form action="{{ url_for('editproduct',pid=product['pid']) }}" method="POST">

            <h6>Product ID : {{product['pid']}}</h6>
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="pname" placeholde="{{product['pname']}}" required><br>

            <label for="description">Description:</label>
            <textarea id="description" name="pdesc" placeholder="{{product['pdesc']}}" required></textarea><br>

            <label for="price">Price:</label>
            <input type="number" id="price" name="pprice" placeholder="{{product['pprice']}}" required><br>

            <input type="submit" class="btn" value="Add Product"><br>
        </form>
    </div>
</body>
</html>
